/* line 1, ../sass/index.scss */
html,
body {
  height: 100%;
}

/* line 6, ../sass/index.scss */
header {
  position: absolute;
  height: 50px;
}

/* line 12, ../sass/index.scss */
.wrapper {
  width: 80%;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: 100%;
  min-width: 320px;
}
/* line 19, ../sass/index.scss */
.wrapper::after {
  content: "";
  display: table;
  clear: both;
}

/* line 26, ../sass/index.scss */
footer.page-footer {
  min-height: 50px;
  padding: 20px;
  background-color: #EEE;
  height: 50px;
  margin-top: -50px;
}
/* line 34, ../sass/index.scss */
footer.page-footer .info {
  float: left;
}
/* line 38, ../sass/index.scss */
footer.page-footer .copyright {
  float: right;
}

/* line 44, ../sass/index.scss */
main {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 48, ../sass/index.scss */
main ul {
  display: inline-block;
}
